/*******************************************************************************
  CARD STYLES
*******************************************************************************/

/***************************************
  CARDS
***************************************/

.card {
  background: White;
  box-shadow: 0 0 8px rgba(0 , 0 , 0 , 50%);

  border-radius: 16px;
  padding: 16px;

  overflow: hidden;
}

/***************************************
  CARD DECKS
***************************************/

.card-deck {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
