/*******************************************************************************
  CARD STYLES
*******************************************************************************/

/***************************************
  CARDS
***************************************/

.card {
  background: White;
  box-shadow: 0 0 8px rgba(0 , 0 , 0 , 50%);

  border-radius: var(--size-05-px);

  overflow: hidden;
}

.card > * {
  padding: var(--size-05-px);
}

/***************************************
  CARD DECKS
***************************************/

.card-deck {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
