/*******************************************************************************
  FORM STYLES
*******************************************************************************/

@import url('../../styles/app-sizes.css');
@import url('../../styles/app-colors.css');

form , .form-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.form-item {
  margin-top: var(--size-04-px);
  margin-bottom: var(--size-04-px);
}
.form-item:first-child {
  margin-top: 0;
}
.form-item:last-child {
  margin-bottom: 0;
}

.form-item > * {
  margin-top: var(--size-03-px);
  margin-bottom: var(--size-03-px);
}
.form-item > *:first-child {
  margin-top: 0;
}
.form-item > *:last-child {
  margin-bottom: 0;
}

.form-item-errors {
  color: var(--look-500);
  font-weight: bold;
}
